*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    font-family: 'Inter', sans-serif;
    color: $gray-100;
}
.container{
    max-width: 124.6rem;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration:none;
    display: block;
}

button{
    all:unset;
    cursor: pointer;
}

ul{
    list-style: none;
}

html{
    font-size: 62.5%;
}
